* {
    padding: 0;
    margin: 0;
    color: #333;
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: #F7F8FC;
}

#Crimtea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.chessboard {
    position: relative;
    width: 500px;
    height: 500px;
    max-width: 92vw;
    max-height: 92vw;
    background-color: #fff;
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0 1vw gray;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tissue {
    position: relative;
    width: calc(1/3 * 100%);
    height: calc(1/3 * 100%);
    box-sizing: border-box;
    border: 1px solid #85CE61;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    transition: all .2s ease;
}
.cell {
    width: calc(1/3 * 100%);
    height: calc(1/3 * 100%);
    box-sizing: border-box;
    border: 1px solid #85CE61;

    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 80% 80%;
    background-position: center center;
    background-repeat: no-repeat;

    transition: all .2s ease;
}


.cell:hover {}

.pre_-1 .canArea .cell:hover {
    background-color: #EA433552;
    background-image: url(../images/-1.svg);
}

.pre_1 .canArea .cell:hover {
    background-color: #4285F452;
    background-image: url(../images/1.svg);
}

.type_-1 {
    background-image: url(../images/-1.svg) !important;
}

.type_1 {
    background-image: url(../images/1.svg) !important;
}

.canArea .cell {
    background-color: #85CE6152;
}

.next_1 .cell {
    background-color: #4285F452;
}

.next_-1 .cell {
    background-color: #EA433552;
}

.end .cell:nth-child(5) {
    width: 100%;
    height: 100%;
}

.end .cell:not(:nth-child(5)) {
    display: none;
}

.win .tissue:nth-child(5) {
    width: 100%;
    height: 100%;
}

.win .tissue:not(:nth-child(5)) {
    display: none;
}

.win .cell:nth-child(5) {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}

.win .cell:not(:nth-child(5)) {
    display: none;
}

.author {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    color: #666;
    padding: 7px 2vw;
    background-color: #fff;
    box-shadow: 0 0 7px gray;
    border-radius: 7px;
}