* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;

    >div:not(.components) {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    >.components {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

button {
    min-height: 26px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 3px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
        opacity: 0.8;
    }

    +button {
        margin-left: 10px;
    }
}

input {
    vertical-align: middle;
    min-height: 26px;
    box-sizing: border-box;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    padding: 3px 10px;
    border-radius: 3px;
    outline: none;

    +input {
        margin-left: 10px;
    }
}

.__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid var(--color-border);
    background-color: var(--color-bg);
    box-shadow: 0 0 3px var(--color-shadow);

    +.__card {
        margin-top: 10px;
    }
}

.__title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}



.primary {
    color: var(--color-primary-6);
    border: 1px solid var(--color-primary-6);
    background-color: var(--color-primary-1);
}

.info {
    color: var(--color-info-6);
    border: 1px solid var(--color-info-6);
    background-color: var(--color-info-1);
}

.success {
    color: var(--color-success-6);
    border: 1px solid var(--color-success-6);
    background-color: var(--color-success-1);
}

.warning {
    color: var(--color-warning-6);
    border: 1px solid var(--color-warning-6);
    background-color: var(--color-warning-1);
}

.danger {
    color: var(--color-danger-6);
    border: 1px solid var(--color-danger-6);
    background-color: var(--color-danger-1);
}